@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.125rem;
    font-weight: 400;
    color: rgb(107, 114, 128);
}

@mixin line {
    width: 0;
    height: 0;
    border-right: 8px solid rgb(248, 113, 113);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.line {
    @include line;
}

.lineHorizontal {
    width: 0;
    height: 0;
    border-bottom: 8px solid rgb(248, 113, 113);
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}

section {
    padding: 10svh 10svw;
    position: relative;
}

h2 {
    font-family: Inter;
    font-size: 3rem;
    line-height: 1;
}

h3 {
    font-family: Inter;
    font-size: 2.25rem;
    line-height: 0.8;
}