@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-size: 1.125rem;
    font-weight: 400;
    color: rgb(107, 114, 128);
}

.line {
    width: 0;
    height: 0;
    border-right: 8px solid rgb(248, 113, 113);
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

section {
    padding: 10%;
    position: relative;
}